<div class="container m-3">
<h1>Restaurants</h1>

<ul>
<% @restaurants.each do |restaurant|  %>
<li><%= link_to restaurant.name, restaurant , class:"links"%></li>
<% end %>
</ul>

<%= link_to "Add new Restaurant", new_restaurant_path, class: "btn btn-primary add" %>
</div>
